/*gérer les bannières bleu et le texte dans la banière*/
#banner {
 height: 10%;
 background:rgb(65, 131, 215);
 margin-top:-20px;
 text-align: center;
 text-decoration: none;
 font-family: Lobster;
 color: white;
 width: 100%;
 }

/* donner un effet à mon titre*/
 #nom {
   text-shadow: 0 1px 0 #eee,
                0 2px 0 #e5e5e5,
                -2px 5px 0 #b9b9b9,
                -2px 7px 2px rgba(0,0,0, 0.6);
 }

/*mettre un lien sur le nom */
 #nom a, #nom a:visited{
   text-decoration: none;
   color:white;
   transition: 1.5s;
 }

/*mettre un effet sur le nom losque l'on clic dessus*/
 #nom a:hover {
   border-bottom: 2px solid black;
   padding-left: 5%;
   padding-right: 5%;
   color: rgb(12, 28, 55);
 }

/*gérer la taille du paragraphe*/
 header p{
   font-size: 17px;
   color: white;
   text-decoration: none;
 }

/* création des futur boutons*/
nav {
  margin-top : -1%;
  width: 100%;
  background:rgb(89, 171, 227);
}

#forme{
  margin-left: 5%;
  margin-right: 5%;
}

nav a, nav a:visited {/* lien bouton <a href> lorsqu'il est visité */
  text-align: center;
  text-decoration: none;
  font-family: cursive;
  font-size: x-large;
  color: white;
  display: inline-block;
  border-radius:7px;
  font-size: 0.85em;
  font-family: Arial,sans-serif;
  transition: 1s;
}

nav a:hover {
  text-decoration:none;
  color: white;
  border: 2px solid white;
  transition:1s;
  margin-left: 2%;
  margin-right:2%;
  padding-left:2%;
  padding-right: 2%;
}

/*gérer la taille et couleur du titre*/
h2{
  color: grey;
  font-size: 18px;
  font-family: cursive;
  margin-right: 90%;
}

/*gérer la taille et la couleur de ma section*/
section{
  font-size: 15px;
  font-family: cursive;
  color: grey;
}

/*mettre en forme l'image pour en faire une sorte d'avatar*/
#Sadida{
width: 15%;
margin: 2% 42.5% 2% 42.5%;/*centrer mon image*/
border-radius: 100%;
background: rgb(124, 230, 122);
box-shadow: 0 0 2px rgb(87, 94, 199);
}

/*gérer les images de mon footer*/
#image{
  width:5%;
  margin: 2% 45% 2% 45%;/*centrer mon image*/
  display: inline;
}

footer{
  width: 100%;
  text-align: center;/*centrer mon text*/
  color: grey;
  margin-top: 50px;
}

/* reduire les images de mon footer*/
 footer img {
   height: 26px;
   width: 26px;
 }

/*descendre le footer*/
 #foot{
   margin-top: 5%;
 }

/*changer la couleur du titre de la page contact*/
#Contact{
  color: grey;
}

#generale{
  color: grey;
  padding: 4px;
}

/*placer correctement mes images dans le portfolio*/
.wrap{
  width: 100%;
  text-align: center;
}

#coca{
  width: 100%;
}

/* Commentaire pour tester GitHub */
figure {
  width: 25%;
  display: inline-block;
}

figure img{
  width: 100%;
  box-shadow: 2px 2px 2px black;/*petit effet ombré sur les images*/
  margin-top: 15%;
}

.page_active{
  color: rgb(44, 62, 80);
}
